<h2>order conformation:</h2>
<p>Order: <%= @order.id %> </p>

<ul>
  <% @products.each do |product| %>
  <li>Product: <%= product.product.name %> </li>
  <span>Quantity: <%= product.quantity %></span>
  <% end %>
</ul>


<p>Subtotal: <%= @order.subtotal %> </p>
<p>Tax: <%= @order.tax %> </p>
<p>Total: <%= @order.total %></p>
