<div class="container-fluid">

<div class="title col-xs-12">

<img src="/image/title.png" alt="Title">

<a href="/index" class="btn btn-info" role="button">Home</a>

<a href="/products/new" class="btn btn-info" role="button"> Add a new product</a>



</div>

<!-- <div class="nav">

</div> -->
<div class="container">
<div class="listing row">
  <div class="product col-xs-4">

    <h3 class="product_name">
      <a href="/products/<%= @top_left.id %>">
        <%=@top_left.name%>
      </a>
    </h3>


    <p class="price">
      <%=@top_left.price%> on sale!
    </p>

    <button type="button" class="btn btn-success">Buy it Now</button>



  </div>

  <div class="product col-xs-4">

    <h3 class="product_name">
      <a href="/products/<%= @top_middle.id %>">
        <%=@top_middle.name%>
      </a>
    </h3>


    <p class="price">
      <%=@top_middle.price%> on sale!
    </p>

    <button type="button" class="btn btn-success">Buy it Now</button>



  </div>

  <div class="product col-xs-4">

    <h3 class="product_name">
      <a href="/products/<%= @top_right.id %>">
        <%=@top_right.name%>
      </a>
    </h3>


    <p class="price">
      <%=@top_right.price%> on sale!
    </p>

    <button type="button" class="btn btn-success">Buy it Now</button>



  </div>


</div>
</div>

<div class="footer col-xs-12">


</div>

</div>
