<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p>Product list:</p>
            <%= form_tag "/search", method: :post do %>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="find a product" name="search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
            <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="dropdown pull-right">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/products?sort=price&sort_order=desc">Price (high to low)</a>
                    </li>
                    <li>
                        <a href="/products?sort=price&sort_order=asc">Price (low to high)</a>
                    </li>
                    <li>
                        <a href="/products?cheap=true">Discount item</a>
                    </li>
                    <li>
                        <a href="/products/random">Random item</a>
                    </li>
                    <% @categories.each do |category| %>
                    <li>
                        <a href="/products?category=<%= category.name %>"><%= category.name %></a>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

    <% @product.each_slice(4) do |three_product| %>
    <div class="row">
        <% three_product.each do |product| %>
        <div class="col-md-3 col-xs-6">
            <div class="well">
                <div class="thumbnail">
                    <img src="<%= product.images.first.url %>" alt="<%= product.name %>" class="img-responsive product_single_image">
                </div>
                <a href="/products/<%= product.id %>">
                    <%= product.name %>
                </a>
                <p>$
                    <%= product.price %></p>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</div>
