<h2><a href="/index"><%= @product.name %></a></h2>
<h2><%= image_tag(@product.image) %></h2>
<h2>Price: <%= @product.price %></h2>
<h2>Description: <%= @product.description %></h2>

<%= form_tag "/products/#{@product.id}", method: :delete do %>
<input type="submit" value="destory product">
<% end %>
