<div class="container-fluid">
    <div>
        <p class="name">
            <%= @product.name %>
        </p>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="<%= @images.first.url %>" alt="<%= @product.name %>" class="img-responsive">
        </div>

        <div class="col-xs-12 col-md-6">
            <p class="price">Price: $
                <%= @product.price %>
                <%= @product.sale_message %></p>
            <p class="tax money">tax: $
                <%= @product.tax %></p>
            <p class="total money">Total: $
                <%= @product.total %></p>

            <% if is_admin? %>

            <%= form_tag "/products/#{@product.id}", method: :delete do %>
            <input type="submit" value="destory product">
            <% end %>

            <a href="/images/new" class="btn btn-info" role="button">Add a new image</a>

            <a href="/products/<%=@product.id%>/edit" class="btn btn-info" role="button">edit</a>
            <% end %>

            <% if is_user? %>

            <%= form_tag '/cart', method: :post do %>

            <div>
                <%= label_tag :quantity %>
                <input type="text" name="quantity" id="quantity" placeholder="1">
                <%= label_tag :user_id %>
                <%= label_tag :product_id %>
                <input type="number" name="product_id" value="<%= @product.id %>">
                <%= submit_tag "Add to Cart" %>
            </div>
            <% end %>

            <% end %>
        </div>
    </div>

    <div class="description">
        <ul>Description:
            <% @product.divide_description.each do |line| %>
            <li class="description_lines"><%= line %></li>
            <% end %>
            <li>
                <p>Supplied By:
                    <%= @product.supplier.name %></p>
            </li>
            <% @product.category.each do |category| %>
            <li><%= category.name %></li>
            <% end %>
        </ul>
        <% @images.each do |image| %>
        <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
        <% end %>
    </div>
</div>
