<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', '<link href="<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
